body {
    background-color: antiquewhite;
    margin: 0;

}

.container {
    background-color: pink;

} 

.menu ul {
    display: inline-flex;
    list-style-type: none;
}

.btnMenu{
    margin: 5px;
}

.logo{
    background-color: antiquewhite;
    justify-content: center;
    display: flex;
} 

.nameofstore{
background-color: antiquewhite;
justify-content: center;
display: flex;
}

.cart{
    /* justify-content: right;
    display: flex; */
} 

.nav{
   display: flex;
   justify-content: right;
}

.Gtytle{
    display: flex;
    justify-content: center;

}
.rowG ul{
    list-style-type: none;
}

.rowG ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.what_hot{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 .W_hot1, .W_hot2, .W_hot3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
