body {
    background-color: white;
    font-family:crimson-text-regular;
}

.menu a {
    /* display: flex;
    justify-content: right; */
    /* display: inline-flex; */
    list-style-type: none;
    color: aliceblue;
}


.nav {
    display: flex;
    justify-content: right;
    background-color: #6A8B95;
    border: 10px solid #6A8B95;
    padding: 10px;
    margin: 0;
}

.logo{
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
} 

.logo img {
    width: 100px;
    margin: 0;
    padding: 0;
} 

.nameofstore{
justify-content: center;
display: flex;
margin: 0;
padding: 0;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 15px;
}

.btnMenu {
    /* display: flex; */
    /* flex-wrap: wrap; */
    border-radius: 8px;   
    border: none;
    background: transparent;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.btnMenu:hover{
    background-color: #e7e7e7;color: black;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}

button a {
    font-size: 20px;
    text-decoration: none ;
    color: inherit;

}

.Gtitle{
    text-align: center;
}

.rowG {
display: flex;
justify-content: center;

}


.Gword{
text-align: center;
background-color: antiquewhite;
margin: 25px ;
width: 300px;
height: 100px;
border-radius: 150px 150px 0 0;
padding: 27px
}

.Gimg{
    width: 70px;
}

.titleNR{
display: flex;
justify-content: center;
padding: 20px
}

.NewRelease{
display: flex;
margin: auto;
width: 1200px;
border: solid antiquewhite;
border-radius: 40px;
background-color: antiquewhite;
}

.NRB img{
    padding: 40px;
    width: 300px;
}

.BestsellingInfo{
    font-size: 15px;
    padding: 40px;
    /* display: flex ; */
    /* justify-content: center ; */
}

.WHot {
display: flex;
justify-content: center;
}

.WH{
margin: 13px;
padding: 7px;
width: auto;
border: solid antiquewhite;
border-radius: 30px;
background-color: antiquewhite;
box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}

.WH img{
min-width: 80px;
max-width: 150px;
padding: 10px;
}

.footer img{
    text-align: row;
    margin: auto;
    min-width: 20px;
    max-width: 25px;
    padding: 10px;
    margin-top: 50px;
}

.NewRelease1{
    display: flex;
    margin: auto;
    width: 1200px;
    border: solid antiquewhite;
    border-radius: 40px;
    background-color: antiquewhite;
}

.NewRelease2{
    display: flex;
    margin: auto;
    width: 1200px;
    border: solid antiquewhite;
    border-radius: 40px;
    background-color: antiquewhite;
}